# This should be the keyboard part.
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="013a", MODE="0660", TAG+="uaccess"
# If analogue is enabled, this should be the joystick.
SUBSYSTEMS=="input", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="013b", MODE="0660", TAG+="uaccess"
# Wrapping USB hub. Dunno if access is necessary.
SUBSYSTEMS=="usb", ATTRS{idVendor}=="05e3", ATTRS{idProduct}=="0608", MODE="0660", TAG+="uaccess"
